// Settings
// Activer ou pas les classes
$class: true;

// Breakpoint
$tablette : 768px;
$desktop : 1024px;

/*
    Couleurs :
        Pour les couler il faut mettre la valeur H de HLS C'est la teinte
*/

$primary : 0;
$secondary : 0;
$ternaire : 0;

$background: null;